<label style="width: 100%; display:flexbox; margin-left: 15%">Для регистрации заполните поля ниже:</label>
<form style="width: 100%; display:flexbox; margin-left: 15%" action="/user/signup" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">

  <button>регистрация</button>
</form>
