<label style="width: 100%; display:flexbox; margin-left: 22%">Для авторизации введите e-mail и пароль:</label>
<form style="width: 100%; display:flexbox; margin-left: 22%" action=" /user/signin" method="POST">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <button>авторизация</button>
</form>
